<html>

<body>
    <form action='/promocoes' method="post">
        <div>
            <input type="text" name="mensagem"/>
        </div>
        <div>
            <select name="livro[id]">
                <%for(var i =0; i<lista.length;i++){%>
                    <option value="<%=lista[i].id%>">
                        <%=lista[i].titulo%>
                    </option>
                <%}%>
            </select>
        </div>
        <input type="submit" value="cadastrar promoçao" />
    </form>
    <div>

    </div>
</body>

</html>