<html>

<body>

    <div class="erros">
        <%if(errosValidacao){%>
            <ul>
                <%for(var i=0; i<errosValidacao.length; i++){%>
                    <li><%=errosValidacao[i].param%> - <%=errosValidacao[i].msg%></li>
                <%}%>
            </ul>
        <%}%>
    </div>

    <form action="/produtos" method="post">
        <div>
            <label for="titulo">Titulo</label>
            <input type="text" name="titulo" id="titulo" placeholder="coloque o titulo" value="<%=produto.titulo%>">
        </div>
        <div>
            <label for="preco">Preço</label>
            <input type="text" name="preco" id="preco" placeholder="coloque o preco" value="<%=produto.preco%>">
        </div>
        <div>
            <label for="descricao">Titulo</label>
            <textarea cols="20" rows="10" name="descricao" id="descricao" placeholder="coloque a descricao"><%=produto.descricao%></textarea>
        </div>
        <input type="submit" value="Gravar" />
    </form>
</body>

</html>