<htm>
    <body>
        <table border="">
            <tr>
                <td>Id</td>
                <td>Nome</td>
                <td>Descricao</td>
                <td>Preço</td>
            </tr>
            <tr>
               <%for(var i=0;i<lista.length;i++){%>
                  <tr>
                      <td><%=lista[i].id%></td>
                      <td><%=lista[i].titulo%></td>
                      <td><%=lista[i].descricao%></td>
                      <td><%=lista[i].preco%></td>
                  </tr>  
                <%}%>
            </tr>
        </table>
    </body>
</htm>